#
# Shorewall - Sample Interfaces File for one-interface configuration.
# Copyright (C) 2006-2015 by the Shorewall Team
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# See the file README.txt for further details.
#------------------------------------------------------------------------------
# For information about entries in this file, type "man shorewall-interfaces"
###############################################################################
?FORMAT 2
###############################################################################
#ZONE	INTERFACE	OPTIONS
{% for interface in shorewall_interfaces|sort %}
{% if interface.startswith('vpn') or interface.startswith('cscotun') %}
vpn     {{ interface }} dhcp,tcpflags,nosmurfs
{% elif interface not in shorewall_not_net_interfaces and not interface.startswith('veth') %}
net     {{ interface }} dhcp,tcpflags,logmartians,nosmurfs,sourceroute=0
{% endif -%}
{% endfor %}
vpn     secure      dhcp,tcpflags,nosmurfs
dckr    docker0     bridge
dckr	br+
vbox    vboxnet+    dhcp,tcpflags,nosmurfs
